@import '../../../design/index.scss';

.dream-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border:1px solid $light-gray;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        color: $dark-gray;
      span{
          min-width: 70px;
          text-align: right;
      }
        &:hover{
            background-color:lighten($light-gray, 15px);
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border:5px solid white;
        }
        .option{
            position: relative;
        }
    
}

.dream-cube{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
    color:$dark-gray;
    border:1px solid $light-gray;
    width: 200px;
    height: 170px;
    &:hover{
        background-color:lighten($light-gray, 15px);
    }
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border:5px solid white;
    }
}
