@import '../../../design/index.scss';

.sidebar{
    list-style-type: none;
    li{
       a{
           font-family: 'samim';
        @extend %font-content;
        color:$dark-gray;
        font-size: 1rem;
        text-decoration: none;
       }
       border-radius: 10px;
       cursor: pointer;
        &:hover{
            background-color:lighten($light-gray, 15px);
            
        }
        &:hover > svg{
            fill:$yellow;
        }
        &:hover > a{
            color:$yellow;
        }
       
    }
    .active-link{
        background-color:lighten($light-gray, 15px);
        svg{
            fill:$yellow;
        }
        a{
            color:$yellow;
        }
      
    }
}