@import '../../../design/index.scss';

.sidebar{
    list-style-type: none;
    li{
       a{
           font-family: 'samim';
        @extend %font-content;
        color:$dark-gray;
        font-size: 1rem;
        text-decoration: none;
       }
       border-radius: 10px;
       cursor: pointer;
        &:hover{
            background-color:$light-blue;
            
        }
        &:hover > svg{
            fill:$dark-blue;
        }
        &:hover > a{
            color:$dark-blue;
        }
       
    }
    .active-link{
        background-color:$light-blue;
        svg{
            fill:$dark-blue;
        }
        a{
            color:$dark-blue;
        }
      
    }
}